{% extends 'contract/base.html' %}
{% load static %}
{% block content %}
    <!-- Start your project here-->
    <section class="w-100 p-4 text-center">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ДО</th>
                    <th scope="col">ПО</th>
                    <th scope="col">Название договора</th>
                    <th scope="col">Тип договора</th>
                    <th scope="col">Дата договора</th>
                </tr>
            </thead>
            <tbody>
                {% for el in object_list %}
                <tr>
                    <th scope="row">{{el.id}}</th>
                    <td><p align="left">{{ el.do }}</p></td>
                    <td><p align="left">{{ el.po }}</p></td>
                    <td><a href="{{ el.get_absolute_url }}">
                            <p align="left">{{el.name}}</p>
                        </a></td>
                    <td><p align="left">{{ el.type }}</p></td>
                    <td><p align="left">{{el.created_at}}</p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- End your project here-->



{% endblock %}